html, body {
  background-image: linear-gradient(to bottom, $white, $light-yellow);
  color: $black;
  display: block;
  font: {
    family: $sans;
    size: 16px;
    weight: $reg;
  }
  height: 100%;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  border-bottom: 2px solid $black;
  color: $black;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;

  &:hover {
    border-bottom: 2px solid $dark-blue;
    color: $dark-blue;
    text-decoration: none;
  }

  h1 &, h1 &:hover {
    border-bottom: 2px solid transparent;
    color: $black;
  }

  h3 & { border-bottom: 2px solid transparent; }
}

img {
  max-width: 100%;
}

.click {
  border-color: $dark-blue;
  border-style: solid;
  border-width: 2px;
  color: $dark-blue;
  letter-spacing: .05em;
  padding: 12px 26px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s background-color linear, .1s color linear;

  &:hover {
    background-color: $dark-blue;
    color: $white;
    opacity: 1;
  }
}

.about {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: flex-start;
    margin: 0.75em 0;

    .date {
      color: $black;
      min-width: 150px;

      &::before {
        content: '\2207';
        display: inline-block;
        font-size: 0.8em;
        height: 1em;
        margin-right: 2em;
      }
    }

    .event {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      max-width: 100%;
    }
  }
}

.highlights {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;

  .active & {
    max-height: 10em;
  }
}
