html, body {
  background-image: linear-gradient(to bottom, $white, $light-yellow);
  color: $black;
  display: block;
  font: {
    family: $sans;
    size: 16px;
    weight: $reg;
  }
  height: 100%;
  margin: 0 4px;
}

.container {
  margin: 0 auto;
  max-width: 650px;
}

h1, h2, h3, h4, h5, h6 {
  a {
    border-bottom: 1.75px solid $black;
    color: $black;
    text-decoration: none;
    transition: .3s ease;

    &:hover {
      border-bottom: 1.75px solid $dark-blue;
      color: $dark-blue;
      text-decoration: none;
    }
  }
}

/*h3:hover {
  cursor: pointer;
  color: $dark-blue;
  text-decoration: none;
  transition: 0.3s ease all;
}*/

.header {
  text-align: center;
}

.updates {
  ul {
    margin: .5em 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: .75em 0;

    &::before {
      content: '\00b7';
      display: inline-block;
      width: 2em;
      border-radius: 100%;
      margin: 0;
    }

    .left {
      font-weight: $bold;
      color: $black;
      float: left;
      width: 100px;
    }

    .desc {
      margin-left: 25px;
      display: flex;
      flex-direction: column;
    }
  }
}

.path {
  /*h3 a {
    border-bottom: 1.5px solid transparent;
    color: $black;
    text-decoration: none;
    transition: 0.3s ease all;

    &:hover {
      border-bottom: 1.5px solid $dark-blue;
      color: $dark-blue;
      text-decoration: none;
    }
  }*/
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;

  .active & {
    max-height: 10em;
  }
}

.links {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8em;

  a {
    color: $black;
    text-decoration: none;
    transition: 0.3s ease all;

    &:hover {
      color: $dark-blue;
      text-decoration: none;
    }
  }
}
