$black: #212121;
$white: #FFFFFF;
$gray: #757575;

$red: #EB4888;
$blue: #10A2F5;
$green: #24D05A;

$dark-blue: #134DB6;
$light-yellow: #FFFCF3;

.work {
  em, ::before {
    color: $red;
    font-style: normal;
  }
}

.life {
  em, ::before {
    color: $blue;
    font-style: normal;
  }
}

.fun {
  em, ::before {
    color: $green;
    font-style: normal;
  }
}

h4 .cap {
  color: $gray;
}
