$bold: 700;
$reg: 400;

$monospace: 'Inconsolata', monospace;
$sans: 'Montserrat', Helvetica, Arial, sans-serif;

h1 {
  font-family: $sans;
  font-size: 4rem;
  margin: .4em 0 0;
}

h2 {
  font-family: $monospace;
  font-size: 1.25rem;
  font-weight: $reg;
  margin: .4em 0;
}

h3 {
  font-family: $monospace;
  font-size: 1.25rem;
  margin: .5em 0;
}

h4, li {
  font-family: $monospace;
  font-size: 1rem;
  font-weight: $reg;
  margin: .25em 0;
}

h5 {
  font-family: $monospace;
  font-size: 1rem;
  margin: 0;
}
