<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Params.Author }}</title>
  <meta charset="utf-8">
  <meta name="author" content={{ .Params.Author }}>
  <meta name="description" content={{ .Params.Author }}>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/_img/favicon-1024.png">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type='text/javascript' src='js/content.js'></script>
</head>
<body>
  {{ block "content" . }}
  {{ end }}
</body>
</html>