<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ .Site.Params.title }}</title>
  <meta charset="utf-8">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/img/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type='text/javascript' src='/js/expand.js'></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.google_analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.google_analytics_id }}');
  </script>
</head>

<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "footer.html" . }}
</body>

</html>