<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Site.Params.title }}</title>
  <meta charset="utf-8">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/img/favicon-1024.png">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type='text/javascript' src='/js/collap.js'></script>
</head>
<body>
  <div class="container">
    {{ partial "header.html" . }}
    {{ block "content" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </div>
</body>
</html>