html, body {
  background-image: linear-gradient(to bottom, $white, $light-yellow);
  color: $black;
  display: block;
  font: {
    family: $monospace;
    size: 16px;
    weight: $reg;
  }
  height: 100%;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  border-bottom: 2px solid $black;
  color: $black;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;

  &:hover {
    border-bottom: 2px solid $dark-blue;
    color: $dark-blue;
    text-decoration: none;
  }

  h1 &, h1 &:hover {
    border-bottom: 2px solid transparent;
    color: $black;
  }

  h3 & { border-bottom: 2px solid transparent; }
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.bg-img {
  background-image: url('/img/la_sunset.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 270px;
  width: 100%;
}
