$black: #212121;
$white: #FFFFFF;
$gray: #757575;

$red: #ED2939;
$blue: #10A2F5;
$green: #24D05A;
$teal: #94f0f1;

$dark-blue: #134DB6;
$light-yellow: #FFFCF3;

.work {
  em, ::before {
    color: $red;
    font-style: normal;
  }
}

.school {
  em, ::before {
    color: $blue;
    font-style: normal;
  }
}

.misc {
  em, ::before {
    color: $green;
    font-style: normal;
  }
}

h4 .cap { color: $gray; }
