.collection {
  margin: auto;
  max-width: 700px;
  width: 83.333%;
}

.prof {
  text-align: right;
}

header {
  padding: .5rem 0;
  text-align: left;
}

footer {
  padding-bottom: 15px;

  .links {
    display: flex;
    justify-content: space-between;
    margin-top: .8em;
    width: 20%;
    a { border-bottom: 2px solid transparent; }
  }
}

.collection li {
  display: flex;
  justify-content: flex-start;
  margin: .75em 0;

  .category {
    margin-left: 20px;
    min-width: 100px;

    &::before {
      content: '\2207';
      display: inline-block;
      font-size: .8em;
      height: 1em;
      margin-right: 2em;
    }
  }

  .event {
    flex-direction: column;
    margin-left: 25px;
    max-width: 100%;
  }
}

.color-list {
  display: none;
  max-height: 0;

  .active & {
    display: block;
    max-height: 99em;
  }
}

.row {
  overflow: hidden;
  padding: 20px 0;
  width: 100%;

  .vis {
    float: left;
    padding-right: 17px;
    width: 50%;
  }

  .desc {
    float: left;
    padding-left: 17px;
    width: 50%;
  }

  .learn {
    float: left;
    padding-left: 17px;
    padding-top: 25px;
  }
}

.cards {
  background-color: $black;
  height: 200px;
}
