$bold: 700;
$reg: 550;
$light: 400;

$monospace: 'Inconsolata', monospace;
$sans: 'Montserrat', Helvetica, Arial, sans-serif;

h1 {
  font: {
    family: $sans;
    size: 4rem;
    weight: $bold;
  }
  line-height: 1.25;
}

h2 {
  font: {
    family: $monospace;
    size: 1.25rem;
    weight: $reg;
  }
  margin-bottom: 0.25rem;
}

h3 {
  font: {
    family: $monospace;
    size: 1.25rem;
    weight: $bold;
  }
  margin: 0.25rem 0;
}

h4 {
  font: {
    family: $monospace;
    size: 1.25rem;
  }
  margin-bottom: 0.9rem;
}

h5 {
  font: {
    family: $monospace;
    size: 1rem;
    weight: $light;
  }
}
