$black: #212121;
$white: #F9F9F9;
$gray: #474747;

body {
  background: $white;
  color: $black;
  font-family: $sans;
  font-size: 16px;
  font-weight: $reg;
}

.container {
  margin: 0 auto;
  max-width: 74rem;
  padding: 6rem 4rem;
  width: 100%;
}

footer {
  background-color: $gray;

  .links {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
  }
}
