$bold: 700;
$reg: 400;

$monospace: 'Inconsolata', monospace;
$sans: 'Montserrat', Helvetica, Arial, sans-serif;

h1 {
  font-family: $monospace;
  font-size: 2rem;
  line-height: 0.5;
}

h2 {
  font-family: $monospace;
  font-size: 1.25rem;
  font-weight: $reg
}

h3 {
  font-family: $monospace;
  font-size: 1.25rem;
}

h4 {
  font-family: $monospace;
  font-size: 1rem;
  font-weight: $reg
}

h5 {
  font-family: $monospace;
  font-size: 1rem;
}
