<footer>
  <div class="links">
    <a class="fab fa-github" href="https://github.com/stanley98yu" area-hidden="true"></a>
    <a class="fab fa-linkedin" href="https://www.linkedin.com/in/stanley98yu/" aria-hidden="true"></a>
    <a class="fab fa-facebook" href="https://www.facebook.com/stanley98yu" aria-hidden="true"></a>
    <a class="fab fa-twitter" href="https://www.twitter.com/stanley98yu" aria-hidden="true"></a>
    <a class="fa fa-envelope" href="mailto:stanley98yu@gmail.com" aria-hidden="true"></a>
  </div>
</footer>