{{ define "content" }}
<div class="collection about active">
  <h3>/ <a class="collap">About</a></h3>
  {{ .Content }}
  {{ partial "highlights.html" . }}
</div>
<div class="collection projects">
  <h3>/ <a href="/projects">Projects</a></h3>
  <p>A collection of my personal projects and explorations.</p>
  <!--<div class="grid">
    <div class="box">
    </div>
  </div>-->
</div>
<div class="collection talks">
  <h3>/ <a href="/talks">Talks</a></h3>
  <p>Talks, speeches, and presentations I've given on school and life.</p>
</div>
{{ end }}