html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    body {
        width: 500px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        margin-left: 250px;
    }
}

a {
    color: #1c99b5;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease;
}

a:hover {
    border-bottom: 1.5px solid #1c99b5;
}

span.caption {
    color: #7c7c7c;
    font-size: 12px;
}

span.date {
    color: #7c7c7c;
    float: right;
}
